# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data.
- In Problem 1 you read in a tricky data file and explore it's contents.
- In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius.
- In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-6-problems-1-3.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail.

## AI tool usage agreement

**Enter your name (and that of your partner) in the cell below** to confirm that you have followed the [course guidelines on the use of AI tools](https://geo-python-site.readthedocs.io/en/latest/course-info/ai-tools.html) and understand that misuse of AI tools is considered cheating.

YOUR ANSWER HERE

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [ ]:
data = None

# YOUR CODE HERE
raise NotImplementedError()

In [2]:
import pandas as pd

In [109]:
data = pd.read_csv("1091402.txt", delim_whitespace=True, skiprows=[1], na_values=-9999)

C:\Users\neljo\AppData\Local\Temp\ipykernel_22608\3287195097.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv("1091402.txt", delim_whitespace=True, skiprows=[1], na_values=-9999)

In [110]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [111]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [ ]:
tavg_nodata_count = None

# YOUR CODE HERE
raise NotImplementedError()

In [31]:
tavg_nodata_count = data["TAVG"].isnull().sum()

In [32]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [ ]:
tmin_nodata_count = None

# YOUR CODE HERE
raise NotImplementedError()

In [33]:
tmin_nodata_count = data["TMIN"].isnull().sum()

In [34]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [ ]:
day_count = None

# YOUR CODE HERE
raise NotImplementedError()

In [35]:
day_count = data["DATE"].count()

In [36]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [ ]:
first_obs = None

# YOUR CODE HERE
raise NotImplementedError()

In [42]:
first_obs = data["DATE"].sort_values().loc[0]

In [43]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [ ]:
last_obs = None

# YOUR CODE HERE
raise NotImplementedError()

In [51]:
last_obs = data["DATE"].sort_values(ascending=False).loc[23715]

In [52]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [ ]:
avg_temp = None

# YOUR CODE HERE
raise NotImplementedError()

In [53]:
avg_temp = data["TAVG"].mean()

In [54]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the [Summer of '69](https://www.youtube.com/watch?v=9f06QZCVUHg) (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [ ]:
avg_temp_1969 = None

# YOUR CODE HERE
raise NotImplementedError()

In [59]:
type(data["DATE"])

pandas.core.series.Series

In [65]:
avg_temp_1969 = data["TMAX"].loc[(data["DATE"] >= 19690501) & (data["DATE"] <= 19690831)].mean()

In [66]:
# This test print should print a number
print(f"Average temperature (F) for the Summer of '69: {round(avg_temp_1969, 2)}")

Average temperature (F) for the Summer of '69: 67.82

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

**Hint**: *You can start by creating a new column with a label for each year and month, and then continue grouping the data based on this information.*

In [ ]:
monthly_data = None

# YOUR CODE HERE
raise NotImplementedError()

In [112]:
monthly_data = pd.DataFrame(data)

# monthly_data["DATE"] = pd.to_datetime(monthly_data["DATE"])

# monthly_data["YEAR"] = monthly_data["DATE"].dt.year
# monthly_data["MONTH"] = monthly_data["DATE"].dt.month

In [113]:
monthly_data

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0
...,...,...,...,...,...,...,...,...,...
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

In [114]:
monthly_data["DATE_STR"] = monthly_data["DATE"].astype(str)

In [115]:
monthly_data["DATE"] = pd.to_datetime(monthly_data["DATE_STR"])

In [118]:
monthly_data["DATE"].dt.month

0         1
1         1
2         1
3         1
4         1
         ..
23711     9
23712    10
23713    10
23714    10
23715    10
Name: DATE, Length: 23716, dtype: int32

In [119]:
#Create a new dataframe called monthly_data
monthly_data = pd.DataFrame(data)

# Convert to string
monthly_data["DATE_STR"] = monthly_data["DATE"].astype(str)

# Convert character strings to datetime
monthly_data["DATE"] = pd.to_datetime(monthly_data["DATE_STR"])

# Extract year and month from the date
monthly_data["YEAR"] = monthly_data["DATE"].dt.year
monthly_data["MONTH"] = monthly_data["DATE"].dt.month

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(f):
    return (f - 32) * 5.0/9.0

# Apply the conversion
monthly_data["temp_celsius"] = monthly_data["TAVG"].apply(fahrenheit_to_celsius)

# Group by year and month and calculate the mean temperature in Celsius
monthly_data = monthly_data.groupby(["YEAR", "MONTH"]).agg({'temp_celsius': 'mean'}).reset_index()

# Display the resulting DataFrame
print(monthly_data)

     YEAR  MONTH  temp_celsius
0    1952      1     -1.400966
1    1952      2     -4.000000
2    1952      3    -10.106838
3    1952      4      4.226190
4    1952      5      7.037037
..    ...    ...           ...
785  2017      6     13.500000
786  2017      7     15.716846
787  2017      8     15.716846
788  2017      9     11.296296
789  2017     10      9.027778

[790 rows x 3 columns]

In [124]:
monthly_data.head(10)

   YEAR  MONTH  temp_celsius
0  1952      1     -1.400966
1  1952      2     -4.000000
2  1952      3    -10.106838
3  1952      4      4.226190
4  1952      5      7.037037
5  1952      6     13.611111
6  1952      7     16.230159
7  1952      8     14.157706
8  1952      9      8.461538
9  1952     10      2.162698

In [70]:
# Sample data
data = {
    'date': ['2023-01-01', '2023-01-02', '2023-02-01', '2023-02-02'],
    'TAVG': [32, 35, 40, 42]
}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])

# Extract year and month from the date
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(f):
    return (f - 32) * 5.0/9.0

# Apply the conversion
df['temp_celsius'] = df['TAVG'].apply(fahrenheit_to_celsius)

# Group by year and month and calculate the mean temperature in Celsius
monthly_data2 = df.groupby(['year', 'month']).agg({'temp_celsius': 'mean'}).reset_index()

# Display the resulting DataFrame
print(monthly_data2)

   year  month  temp_celsius
0  2023      1      0.833333
1  2023      2      5.000000

In [120]:
# This test prints the length of variable monthly_data
print(len(monthly_data))

790

In [121]:
# This test prints the column names of monthly_data
print(monthly_data.columns.values)

['YEAR' 'MONTH' 'temp_celsius']

In [122]:
# This test prints the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669992

In [123]:
# This test prints the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1

- Calculating ***the average (mean) temperature for each month (e.g., January, February, March, ...) over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`).
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame:

1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., the average of all Februaries between 1952 and 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [151]:
# PART 1
# Filter data for the period 1952-1980
reference_period = monthly_data[(monthly_data["YEAR"] >= 1952) & (monthly_data["YEAR"] <= 1980)]

# Calculate the mean temperature for each month
reference_temps = reference_period.groupby("MONTH")['temp_celsius'].mean().reset_index()

# Rename the columns
reference_temps.columns = ["MONTH", "ref_temp"]

reference_temps

    MONTH   ref_temp
0       1  -5.838761
1       2  -7.064088
2       3  -3.874213
3       4   2.370749
4       5   9.482356
5       6  14.661728
6       7  16.520986
7       8  15.045650
8       9   9.934222
9      10   4.952240
10     11   0.245195
11     12  -4.165641

In [177]:
# PART 2
# Merge the monthly_data with reference_temps on the 'month' column
monthly_data = monthly_data.merge(reference_temps, on="MONTH", how="left")

# Calculate the temperature anomaly
monthly_data["diff"] = monthly_data["temp_celsius"] - monthly_data["ref_temp"]

#print(monthly_data[['year', 'month', 'temp_celsius', 'ref_temp', 'diff']])

In [178]:
# Check the monthly data:
monthly_data.head()

   YEAR  MONTH  temp_celsius  ref_temp      diff
0  1952      1     -1.400966 -5.838761  4.437795
1  1952      2     -4.000000 -7.064088  3.064088
2  1952      3    -10.106838 -3.874213 -6.232625
3  1952      4      4.226190  2.370749  1.855441
4  1952      5      7.037037  9.482356 -2.445319

In [179]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp        diff
count    682.000000  790.000000  682.000000
mean       5.097114    4.371859    0.722724
std        8.483949    8.284129    2.537855
min      -17.974910   -7.064088  -12.136149
25%       -1.685185   -3.874213   -0.820655
50%        4.726105    4.952240    0.789118
75%       12.870370   13.479851    2.325922
max       22.329749   16.520986    8.234723

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Part 3 (*optional*) - **AI-LLM OK**

Using [ChatGPT](https://openai.com/chatgpt), calculate the reference temperatures and temperature anomalies as directed above.

- Your reference temperatures should be stored in a new DataFrame called `ai_reference_temps`
    - The columns in the new DataFrame should be `month` and `ai_ref_temp`
- Calculate **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - You again need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ai_ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ai_ref_temp` column in`reference_temps`).
    - Store the result in a new column `"ai_diff"` 

In order to do this, you should post both the prompt you provide to ChatGPT and the code it produces in the cells below. As your prompts may need to be refined to get your code working, please report each prompt so we can see how you arrived at your final version of the function.

### Prompt 1

Enter the text of the first prompt you used for this part of the exercise below.

YOUR ANSWER HERE

Enter the code generated by your first prompt below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Looking at the function produced by ChatGPT do you see any problems compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

Test out your code by running the tests below.

In [ ]:
# Check the monthly data:
monthly_data.head()

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ai_ref_temp", "ai_diff"]].describe()

### Additional prompts

In the event your code does not pass all of the tests above, please enter the prompt(s) you used to refine the function in the cell below. If you used more than one prompt, you can format them as a Markdown list using the format demonstrated below:

```
1. First prompt
2. Second prompt
3. ...
```

If no additional prompts were needed, you can skip this.

YOUR ANSWER HERE

Enter the final version of your code produced by ChatGPT in the cell below. You can test the code by re-running the tests above after updating the code below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Does your revised function now pass all of the tests?
- If yes, please comment below about your experience using ChatGPT and the benefits and drawbacks you see.
- If no, what kinds of problems do you see with the revised function produced by ChatGPT compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

### Final comments

If you have any other comments about your experience using ChatGPT in this problem, please enter those below.

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)