## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the code cells in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

## AI tool usage agreement

**Enter your name (and that of your partner) in the cell below** to confirm that you have followed the [course guidelines on the use of AI tools](https://geo-python-site.readthedocs.io/en/latest/course-info/ai-tools.html) and understand that misuse of AI tools is considered cheating.

YOUR ANSWER HERE

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [ ]:
kumpula = None
rovaniemi = None

# YOUR CODE HERE
raise NotImplementedError()

In [1]:
import pandas as pd

In [3]:
kumpula = pd.read_csv("Kumpula_temps_May_Aug_2017.csv")

In [4]:
rovaniemi = pd.read_csv("Rovaniemi_temps_May_Aug_2017.csv")

In [5]:
print(kumpula.head())
print("")
print(rovaniemi.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN        3
1        8771  29980  201705010100  37.0  NaN  NaN        3
2        8772  29980  201705010200  37.0  NaN  NaN        3
3        8773  29980  201705010300  37.0  NaN  NaN        3
4        8774  29980  201705010400  39.0  NaN  NaN        4

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN       -1
1           1  28450  201705010020  30.0  NaN  NaN       -1
2           2  28450  201705010050  30.0  NaN  NaN       -1
3           3  28450  201705010100  31.0  NaN  NaN       -1
4           4  28450  201705010120  30.0  NaN  NaN       -1

### Part 2 (1 points)

Next you can find the *median temperatures* for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [ ]:
kumpula_median = None
rovaniemi_median = None

# YOUR CODE HERE
raise NotImplementedError()

In [8]:
kumpula_median = kumpula["Celsius"].median()

In [10]:
rovaniemi_median = rovaniemi["Celsius"].median()

In [11]:
rovaniemi_median

np.float64(11.0)

In [12]:
# Prints the median temperatures
print(f"Kumpula median: {kumpula_median}")
print(f"Rovaniemi median: {rovaniemi_median}")

Kumpula median: 14.0
Rovaniemi median: 11.0

### Part 3 (2 points)

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find the *mean temperatures* from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows to the variables `kumpula_may` and `rovaniemi_may` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of June and assign those values to variables to `kumpula_june` and `rovaniemi_june`

In [ ]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
kumpula_may = None
rovaniemi_may = None

kumpula_june = None
rovaniemi_june = None

# YOUR CODE HERE
raise NotImplementedError()

In [26]:
kumpula_may = kumpula.loc[(kumpula["YR--MODAHRMN"] >= 201705010000) & (kumpula["YR--MODAHRMN"] <= 201705312300)]

In [27]:
kumpula_may.head()

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN        3
1        8771  29980  201705010100  37.0  NaN  NaN        3
2        8772  29980  201705010200  37.0  NaN  NaN        3
3        8773  29980  201705010300  37.0  NaN  NaN        3
4        8774  29980  201705010400  39.0  NaN  NaN        4

In [28]:
kumpula_june = kumpula.loc[(kumpula["YR--MODAHRMN"] >= 201706010000) & (kumpula["YR--MODAHRMN"] <= 201706302300)]

In [29]:
kumpula_june.head()

     Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
741        9511  29980  201706010000  42.0  NaN  NaN        6
742        9512  29980  201706010100  40.0  NaN  NaN        4
743        9513  29980  201706010200  40.0  NaN  NaN        4
744        9514  29980  201706010300  41.0  NaN  NaN        5
745        9515  29980  201706010400  44.0  NaN  NaN        7

In [30]:
rovaniemi_may = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"] >= 201705010000) & (rovaniemi["YR--MODAHRMN"] <= 201705312300)]

In [31]:
rovaniemi_may.head()

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN       -1
1           1  28450  201705010020  30.0  NaN  NaN       -1
2           2  28450  201705010050  30.0  NaN  NaN       -1
3           3  28450  201705010100  31.0  NaN  NaN       -1
4           4  28450  201705010120  30.0  NaN  NaN       -1

In [32]:
rovaniemi_june = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"] >= 201706010000) & (rovaniemi["YR--MODAHRMN"] <= 201706302300)]

In [33]:
rovaniemi_june.head()

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220        2222  28450  201706010000  32.0  NaN  NaN        0
2221        2223  28450  201706010020  30.0  NaN  NaN       -1
2222        2224  28450  201706010050  30.0  NaN  NaN       -1
2223        2225  28450  201706010100  31.0  NaN  NaN       -1
2224        2226  28450  201706010120  30.0  NaN  NaN       -1

Check that the subsets look ok:

In [34]:
print(f"First values in May, Kumpula:\n{kumpula_may.head()}\n")
print(f"Last values in May, Kumpula:\n{kumpula_may.tail()}")

First values in May, Kumpula:
   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN        3
1        8771  29980  201705010100  37.0  NaN  NaN        3
2        8772  29980  201705010200  37.0  NaN  NaN        3
3        8773  29980  201705010300  37.0  NaN  NaN        3
4        8774  29980  201705010400  39.0  NaN  NaN        4

Last values in May, Kumpula:
     Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
736        9506  29980  201705311900  51.0  NaN  NaN       11
737        9507  29980  201705312000  50.0  NaN  NaN       10
738        9508  29980  201705312100  47.0  NaN  NaN        8
739        9509  29980  201705312200  44.0  NaN  NaN        7
740        9510  29980  201705312300  43.0  NaN  NaN        6

In [35]:
print(f"First values in June, Kumpula:\n{kumpula_june.head()}\n")
print(f"Last values in June, Kumpula:\n{kumpula_june.tail()}")

First values in June, Kumpula:
     Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
741        9511  29980  201706010000  42.0  NaN  NaN        6
742        9512  29980  201706010100  40.0  NaN  NaN        4
743        9513  29980  201706010200  40.0  NaN  NaN        4
744        9514  29980  201706010300  41.0  NaN  NaN        5
745        9515  29980  201706010400  44.0  NaN  NaN        7

Last values in June, Kumpula:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
1450       10220  29980  201706301900  65.0  NaN  NaN       18
1451       10221  29980  201706302000  61.0  NaN  NaN       16
1452       10222  29980  201706302100  63.0  NaN  NaN       17
1453       10223  29980  201706302200  62.0  NaN  NaN       17
1454       10224  29980  201706302300  61.0  NaN  NaN       16

In [36]:
print(f"First values in May, Rovaniemi:\n{rovaniemi_may.head()}\n")
print(f"Last values in May, Rovaniemi:\n{rovaniemi_may.tail()}")

First values in May, Rovaniemi:
   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN       -1
1           1  28450  201705010020  30.0  NaN  NaN       -1
2           2  28450  201705010050  30.0  NaN  NaN       -1
3           3  28450  201705010100  31.0  NaN  NaN       -1
4           4  28450  201705010120  30.0  NaN  NaN       -1

Last values in May, Rovaniemi:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2213        2215  28450  201705312150  34.0  NaN  NaN        1
2214        2216  28450  201705312200  34.0  NaN  NaN        1
2215        2217  28450  201705312220  32.0  NaN  NaN        0
2216        2218  28450  201705312250  32.0  NaN  NaN        0
2217        2219  28450  201705312300  33.0  NaN  NaN        1

In [37]:
print(f"First values in June, Rovaniemi:\n{rovaniemi_june.head()}\n")
print(f"Last values in June, Rovaniemi:\n{rovaniemi_june.tail()}")

First values in June, Rovaniemi:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220        2222  28450  201706010000  32.0  NaN  NaN        0
2221        2223  28450  201706010020  30.0  NaN  NaN       -1
2222        2224  28450  201706010050  30.0  NaN  NaN       -1
2223        2225  28450  201706010100  31.0  NaN  NaN       -1
2224        2226  28450  201706010120  30.0  NaN  NaN       -1

Last values in June, Rovaniemi:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
4340        4342  28450  201706302150  59.0  NaN  NaN       15
4341        4343  28450  201706302200  58.0  NaN  NaN       14
4342        4344  28450  201706302220  57.0  NaN  NaN       14
4343        4345  28450  201706302250  57.0  NaN  NaN       14
4344        4346  28450  201706302300  56.0  NaN  NaN       13

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [41]:
print(kumpula_may["Celsius"].describe())

count    741.000000
mean       9.758435
std        5.020735
min       -2.000000
25%        7.000000
50%       10.000000
75%       13.000000
max       23.000000
Name: Celsius, dtype: float64

In [40]:
print(rovaniemi_may["Celsius"].describe())

count    2218.000000
mean        2.989179
std         3.828986
min        -7.000000
25%         0.000000
50%         3.000000
75%         6.000000
max        15.000000
Name: Celsius, dtype: float64

In [42]:
print(kumpula_june["Celsius"].describe())

count    714.000000
mean      13.732493
std        4.073295
min        3.000000
25%       11.000000
50%       13.000000
75%       17.000000
max       24.000000
Name: Celsius, dtype: float64

In [43]:
print(rovaniemi_june["Celsius"].describe())

count    2125.000000
mean       11.014588
std         5.450105
min        -1.000000
25%         7.000000
50%        11.000000
75%        14.000000
max        23.000000
Name: Celsius, dtype: float64

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Rovaniemi a much colder place than Kumpula?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)